body{
    background-color: #FAEDE2;
    font-family: 'Montserrat', sans-serif;
}

/* INDEX */
.login-btn{
    background-color: #FAEDE2;
    color: black;
    outline: 1px solid #FAEDE2;
}

.signup-btn{
    background-color: black;
    color: #E7A4D4;
    outline: 1px solid black;
}

.signup-btn:hover{
    background-color: black;
    color: #E7A4D4;
    outline: 1px solid black;
}

.navbar-brand img{
    max-width: 5%;
    height: auto;
}

.navbar-brand{
    font-family: 'Lato', sans-serif;
}

.display-5{
    font-family: 'Lato', sans-serif;
}

.getstarted-btn{
    background-color: #3c5232;
    color: #E7A4D4;
    outline: 1px solid #3c5232;
}

.getstarted-btn:hover{
    background-color: #3c5232;
    color: #E7A4D4;
    outline: 1px solid #3c5232;
}

.footer{
    font-size: 0.7rem;
}

.h3{
    color: #E7A4D4;
}

.modal-content{
    width:95%;
}

.form-control{
    background-color: #1A1A1A;
    border-color: #E7A4D4;
}

.form-control::placeholder{
    color: white;
}

.form-control:focus{
    background-color: #1A1A1A;
    border-color: #E7A4D4;
    outline: solid 3px #E7A4D4;
    color: white;
}

.form-sign{
    color:#E7A4D4;
}

.form-sign a{
    color:#E7A4D4;
}

.form-select{
    color: white;
    background-color: #1A1A1A;
    border-color: #E7A4D4;
}

.form-select:focus{
    border-color: #E7A4D4;
    outline: solid 3px #E7A4D4;
}

.form-select option:checked{
    background-color: #E7A4D4;
    color: black;
}

.modal-body{
    background-color: black;
}

.modal-body button{
    background-color: #E7A4D4;
    color: black;
}

.modal-body button:hover{
    background-color: #E7A4D4;
    color: black;
}